<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Register</title>
        <script type="text/javascript" src="/js/home/register.js" defer></script>
        <link rel="stylesheet" href="/css/home/login.css" />
    </head>
    <body>
        <div class="wrapper">
            <div class="container"> 
                <h1>Register</h1>

                <form class="form">
                    <input id="name" type="text" placeholder="Name" />
                    <input id="id" type="text" placeholder="UserID" />
                    <input id="pw" type="password" placeholder="Password" />
                    <input id="pw-confirm" type="password" placeholder="Password Confirm" />
                    <button type="button" id="register-button">Sign up</button>
                    <hr />
                    <a href="/login">Already Member?</a>
                </form>
            </div>

            <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </body>
</html>

<!-- Copyright (c) 2021 by Lewi Hussey (https://codepen.io/Lewitje/pen/BNNJjo) -->
